/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.label, .citationRow .info {
  float: left;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #000000;
}

.labelGeneral .info {
  font-weight: bold;
}

.label {
  width: 24%;
  font-weight: bold;
}

.citationRow .info {
  width: 24%;
}


.violationRow .info {
  float: left;
  width: 16%;
}

.info div {
  float: left;
}

.row {
  float:left;
  width: 100%;
}

.table {
  width: 100%;
}

.outerBox {
  width:100%;
}

.innerBox {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
}

.center {
  margin:5px;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}

.subTable {
  clear:both;
}
